$fa-font-path = '../../node_modules/font-awesome/fonts'

@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../../node_modules/font-awesome-stylus/stylus/index.styl'
@import './css/toastr.css'

// CONFIG
//@import 'stylus/config'
@import 'stylus/general'

// header
@import 'stylus/nav'

// ELEMENTS
@import 'stylus/elements/audio-cards'
@import 'stylus/elements/buttons'
@import 'stylus/elements/dropzone'
@import 'stylus/elements/fixed-elements'
@import 'stylus/elements/footer'
@import 'stylus/elements/logos'
@import 'stylus/elements/modals'
@import 'stylus/elements/tables'
@import 'stylus/elements/tabs'

//@import 'stylus/clyp'
//@import 'stylus/hero'
