



.header-menu .upload-button {
  margin: 4px auto;
  width: 200px; }

.sticky-footer-wrapper {
  min-height: 100%;
  margin: 0 auto -140px; }

footer,
.sticky-footer-push {
  height: 140px; }

html,
body {
  height: 100%;
  margin: 0; }

.sticky-footer-wrapper {
  min-height: 100%;
  margin: 0 auto -140px; }

footer,
.sticky-footer-push {
  height: 140px; }

@media screen and (min-width: 48em) {
  .sticky-footer-wrapper {
    margin: 0 auto -80px; }
  footer,
  .sticky-footer-push {
    height: 80px; } }

body footer {
  background-color: #FDFFFC;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #8C95A0;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 14px 0; }

.footer-branding img {
  margin: 0 1px 2px;
  width: 14px;
  height: 12px; }

.footer-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -ms-flex-pack: center;
      justify-content: center; }


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

html {
  font-size: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #5F6D7A;
  background: #FDFFFC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }



textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }

select {
  width: 100%;
  border-radius: 0; }
