@import '../config'

.fixed-elements
  //position fixed
  //width 100%
  z-index 10
  -webkit-transform translateZ(0)

header
  height 54px
  width 100%
  position relative
  z-index 10
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.fixed-header
  height 54px
  position fixed
  -webkit-transform translateZ(0)
  padding 4px 0
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  -ms-flex-pack justify
  justify-content space-between
  background-color clyp_cream
  width 100%
  box-shadow 0 2px 2px rgba(9, 12, 35, 0.1)
  z-index 10

.fixed-header-bumper
  height 54px

@media screen and (min-width: 48em)
  .fixed-header
  .fixed-header-bumper
  header
    height 64px
  .fixed-header
    padding 9px 10px
