.react-remodal
  &__dialog
    border-radius 4px
    color clyp_dark
    background clyp_cream

    &.upload-modal-wrapper
      max-width: 420px;

.upload-modal-wrapper
  max-width 420px
  padding 15px 10px


.upload-modal
  max-width none
  overflow hidden
  width 100%
  background-color white
