
button
  overflow: visible;

.upload-button
  margin: 4px auto;
  width: 200px;

.button
  border-radius: 100px !important;
  border: 0;
  text-align: center;
  position: relative;
  display: inline-block;

  &:active
  &:hover
    cursor: pointer;
  &:focus
    outline: none;

.button.primary.large
  font-size: 30px;
  width: 300px;
  height: 70px;
  line-height: 68px;
  background-color: #FFBC00;
  color: #FDFFFC;
  border: 1px solid #FFBC00;

  &.disabled
    background-color: #FFBC00;
    opacity: .4;
    cursor: default;
    border: 1px solid #FFBC00;
    &:active
    &:hover
      background-color: #FFBC00;
      opacity: .4;
      border: 1px solid #FFBC00;
  &:active
  &:hover
    background-color: #F7B701;
    border: 1px solid #F7B701;

.button.primary
  font-size: 20px;
  width: 180px;
  height: 48px;
  line-height: 46px;
  background-color: #FFBC00;
  color: #FDFFFC;
  border: 1px solid #FFBC00;

  &.disabled
    background-color: #FFBC00;
    opacity: .4;
    cursor: default;
    border: 1px solid #FFBC00;
    &:active
    &:hover
      background-color: #FFBC00;
      opacity: .4;
      border: 1px solid #FFBC00;

  &:active
  &:hover
    background-color: #F7B701;
    border: 1px solid #F7B701;

.button.primary.small
  font-size: 16px;
  width: 136px;
  height: 40px;
  line-height: 38px;
  background-color: #FFBC00;
  color: #FDFFFC;
  border: 1px solid #FFBC00;

  &.disabled
    background-color: #FFBC00;
    opacity: .4;
    cursor: default;
    border: 1px solid #FFBC00;

    &:active
    &:hover
      background-color: #FFBC00;
      opacity: .4;
      border: 1px solid #FFBC00;

  &:active
  &:hover
    background-color: #F7B701;
    border: 1px solid #F7B701;

.button.primary.tiny
  font-size: 16px;
  width: 112px;
  height: 30px;
  line-height: 28px;
  background-color: #FFBC00;
  color: #FDFFFC;
  border: 1px solid #FFBC00;

  &.disabled
    background-color: #FFBC00;
    opacity: .4;
    cursor: default;
    border: 1px solid #FFBC00;
    &:active
    &:hover
      background-color: #FFBC00;
      opacity: .4;
      border: 1px solid #FFBC00;
  &:active
  &:hover
    background-color: #F7B701;
    border: 1px solid #F7B701;

.button.secondary.large
  font-size: 30px;
  width: 300px;
  height: 70px;
  line-height: 68px;
  border: 1px solid #D1D6DA;
  background-color: transparent;
  color: #8C95A0;
  &.disabled
    background-color: transparent;
    opacity: .4;
    cursor: default;
    border: 1px solid #E4E5E5;
    color: #E4E5E5;
    &:active
    &:hover
      background-color: transparent;
      opacity: .4;
      border: 1px solid #E4E5E5;
      color: #E4E5E5;
  &:active
    border: none;
    background-color: #3DBEB3;
    color: #FDFFFC;
  &:hover
    border: 1px solid #3DBEB3;
    color: #3DBEB3;
    background-color: transparent;

.button.secondary
  font-size: 20px;
  width: 180px;
  height: 48px;
  line-height: 46px;
  border: 1px solid #D1D6DA;
  background-color: transparent;
  color: #8C95A0;

  &.disabled
    background-color: transparent;
    opacity: .4;
    cursor: default;
    border: 1px solid #E4E5E5;
    color: #E4E5E5;
    &:active
    &:hover
      background-color: transparent;
      opacity: .4;
      border: 1px solid #E4E5E5;
      color: #E4E5E5;
  &:active
    border: none;
    background-color: #3DBEB3;
    color: #FDFFFC;
  &:hover
    border: 1px solid #3DBEB3;
    color: #3DBEB3;
    background-color: transparent;

.button.secondary.small
  font-size: 16px;
  width: 136px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #D1D6DA;
  background-color: transparent;
  color: #8C95A0;
  &.disabled
    background-color: transparent;
    opacity: .4;
    cursor: default;
    border: 1px solid #E4E5E5;
    color: #E4E5E5;
    &:active
    &:hover
      background-color: transparent;
      opacity: .4;
      border: 1px solid #E4E5E5;
      color: #E4E5E5;
  &:active
    border: none;
    background-color: #3DBEB3;
    color: #FDFFFC;
  &:hover
    border: 1px solid #3DBEB3;
    color: #3DBEB3;
    background-color: transparent;

.button.secondary.tiny
  font-size: 16px;
  width: 112px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #D1D6DA;
  background-color: transparent;
  color: #8C95A0;
  &.disabled
    background-color: transparent;
    opacity: .4;
    cursor: default;
    border: 1px solid #E4E5E5;
    color: #E4E5E5;
    &:active
    &:hover
      background-color: transparent;
      opacity: .4;
      border: 1px solid #E4E5E5;
      color: #E4E5E5;
  &:active
    border: none;
    background-color: #3DBEB3;
    color: #FDFFFC;
  &:hover
    border: 1px solid #3DBEB3;
    color: #3DBEB3;
    background-color: transparent;

.button.secondary.load-more-button
  width: 100%;
  font-size: 16px;
