
//light_purple = #e6ccff;
light_purple = #ff80ff;
light_purple_dark = #ff4dff;

light_gray = #F3F4F4;
gray_border = #E4E5E5;
blue_gray = #D1D6DA;

clyp_gray = #8C95A0;
clyp_dark = #5F6D7A;
clyp_cream = #FDFFFC;
clyp_green = #3DBEB3;
clyp_gold = #FFBC00;
clyp_gold_dark = #F7B701;
