

.site-container
  min-height 100%
  height auto !important
  margin 0
  margin-bottom -80px

html
  font-size 100%
  box-sizing border-box
  overflow-y scroll

body
  overflow-x hidden

html
body
  height 100%
  margin 0

body
  padding 0
  margin 0
  font-family "BrandonGrotesque", sans-serif
  font-weight normal
  line-height 1.5
  color clyp_green
  background clyp_green
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale



header
  height 54px
  width 100%
  position relative
  z-index 10
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.fixed-elements
  width 100%
  z-index 10
  -webkit-transform translateZ(0)

.fixed-header
  height 54px
  position fixed
  -webkit-transform translateZ(0)
  padding 4px 0
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  -ms-flex-pack justify
  justify-content space-between
  background-color #FDFFFC
  width 100%
  box-shadow 0 2px 2px rgba(9, 12, 35, 0.1)
  z-index 10

.fixed-header .notifications-nav-action-small
  position relative
  left 21px

.fixed-header-bumper
  height 54px


.fixed-banner-wrapper
  height 48px

.fixed-banner
  background-color #3DBEB3
  height 48px
  padding 0
  position fixed
  -webkit-transform translateZ(0)
  text-align center
  width 100%
  z-index 9

.fixed-banner-text
  color #FDFFFC
  display inline
  font-weight 400
  height 48px
  line-height 48px
  margin-bottom 0
  margin-top 0
  padding-bottom 0

.nav-action
  margin-right 20px
  letter-spacing 0.01em

.nav-action:last-child
.nav-action.login
  margin-right 0

.nav-actions
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  position relative
  margin-left auto

*
*before
*after
  box-sizing inherit


@media screen and (min-width 48em)
  header
  .fixed-header
    height 64px
    padding 9px 10px


@media screen and (min-width 48em)
  .hero
    padding 32px 20px

.upload-zone
  width 100%
  height 363px
  margin 20px 0 15px 0
  border-radius 4px
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  -ms-flex-pack center
  justify-content center
  -ms-flex-direction column
  flex-direction column
  background-color #E4E5E5
  cursor pointer
  &hover .upload-icon
    background-size 100%
  &hover .upload-text
    color #5F6D7A

.upload-input
  display none
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  opacity 0
  z-index 10001

$fa-var-icon-upload = "\f01b"
.upload-icon
  fa(icon-upload)
  font-size 5em
  background-repeat no-repeat
  background-position center

.upload-text
  padding-top 10px
  width 142px
  color #8C95A0
  text-align center


.terms-clause
  font-size 13px
  text-align center
  width 100%
  position absolute
  bottom 2px
  & a
    color clyp_green
