.site-container
  min-height: 100%;
  height: auto !important;
  margin: 0;
  margin-bottom: -80px;

header
  height: 54px;
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.fixed-elements
  width: 100%;
  z-index: 10;
  -webkit-transform: translateZ(0);

.fixed-header
  height: 54px;
  position: fixed;
  -webkit-transform: translateZ(0);
  padding: 4px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FDFFFC;
  width: 100%;
  box-shadow: 0 2px 2px rgba(9, 12, 35, 0.1);
  z-index: 10;

.fixed-header .notifications-nav-action-small
  position: relative;
  left: 21px;

.fixed-header-bumper
  height: 54px;


.fixed-banner-wrapper
  height: 48px;

.fixed-banner
  background-color: #3DBEB3;
  height: 48px;
  padding: 0;
  position: fixed;
  -webkit-transform: translateZ(0);
  text-align: center;
  width: 100%;
  z-index: 9;

.fixed-banner-text
  color: #FDFFFC;
  display: inline;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;

.nav-action
  margin-right: 20px;
  letter-spacing: 0.01em;

.nav-action:last-child
.nav-action.login
  margin-right: 0;

.nav-actions
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-left: auto;


/**
   * Remove border when inside `a` element in IE 8/9/10.
   */

img
  border: 0;

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root)
  overflow: hidden;

img
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

box-sizing()
  vendor('box-sizing', arguments)
*
  box-sizing inherit;


@media screen and (min-width: 48em)
  header
  .fixed-header-bumper
    height: 64px;
  .fixed-header
    height: 64px;
    padding: 9px 10px;
  .header-menu
    width: 120px;
    top: 64px;
    &.notification-menu
      width: 290px;
      & a:hover
        background-color: #F1F3F3;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    & .header-notification-card:hover
    & a:hover
      background-color: #F3F4F4;
    &.is-open
      padding: 0;
  .tt-dropdown-menu
    width: calc(100% - 20px);
    margin-top: 12px;
  .remodal.user-account
    max-width: 420px;
  .remodal-error-inline
    top: 0;


@media screen and (min-width: 64em)
  .large-3
    width: 25%;
  .large-9
    width: 75%;

.small-12
  width: 100%;

.row
  // max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  &::before
  &::after
    content: ' ';
    display: table;
  &::after
    clear: both;
  &.collapse
    & .column:nth-child(1)
    & .columns:nth-child(1)
      padding-left: 0;
      padding-right: 0;
  & .row
    margin-left: -0.625rem;
    margin-right: -0.625rem;
    @media screen and (min-width: 48em)
      &
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    &.collapse
      margin-left: 0;
      margin-right: 0;
  &.expanded
    max-width: none;

.column
.columns
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
  float: left;
  @media screen and (min-width: 48em)
    .column
    .columns
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
  .column:last-child:not(:first-child)
  .columns:last-child:not(:first-child)
    float: right;
  .column.end:last-child:last-child
  .end.columns:last-child:last-child
    float: left;

.column.row.row
.row.row.columns
  float: none;
  .row .column.row.row
  .row .row.row.columns
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

.row
  width: 100%;

.remodal
  border-radius: 4px;
  color: #5F6D7A;
  background: #FDFFFC;

.modal-bottom-element
  margin-bottom: 0;

.modal-button
  font-size: 1.2em;
  font-weight: 300;
  width: 100%;

.modal-checkbox
  position: relative;
  top: 1px;

.modal-checkbox-label
  float: left;
  font-size: 16px;

.remodal-error-inline
  top: 56px;

.upload-modal
  max-width: none;
  overflow: hidden;
  width: 100%;
  background-color: white;

.remodal.upload-modal-wrapper
  max-width: none;
  padding: 15px 10px;


/* Close button */
.remodal-close
  -webkit-transition: color 0.2s;
  background: transparent;
  border: 0;
  color: #8C95A0;
  cursor: pointer;
  display: block;
  height: 35px;
  left: 0;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  transition: color 0.2s;
  width: 35px;

  &:hover
  &:focus
    color: #5F6D7A;

  &:before
    content: "\00d7";
    display: block;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 28px;
    left: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked
  -ms-touch-action: none;
  overflow: hidden;
  touch-action: none;

/* Anti FOUC */
.remodal
[data-remodal-id]
  display: none;

/* Necessary styles of the overlay */
.remodal-overlay
  bottom: -5000px;
  display: none;
  left: -5000px;
  position: fixed;
  right: -5000px;
  top: -5000px;
  z-index: 9999;

/* Necessary styles of the wrapper */
.remodal-wrapper
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  display: none;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;

  &:after
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;

/* Fix iPad, iPhone glitches */
.remodal-overlay
.remodal-wrapper
  backface-visibility: hidden;

/* Necessary styles of the modal dialog */
.remodal
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  outline: none;
  position: relative;
  text-size-adjust: 100%;

.remodal-is-initialized
  /* Disable Anti-FOUC */
  display: inline-block;

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
.remodal-bg.remodal-is-opening
.remodal-bg.remodal-is-opened
  -webkit-filter: blur(3px);
  filter: blur(3px);

/* Default theme styles of the overlay */
.remodal-overlay
  background: rgba(7, 24, 39, 0.8);

.remodal-overlay.remodal-is-opening
.remodal-overlay.remodal-is-closing
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  .remodal-overlay.remodal-is-opening.animation-disabled
  .remodal-overlay.remodal-is-closing.animation-disabled
    animation: none !important;
    animation-duration: 0s !important;

.remodal-overlay.remodal-is-opening
  animation-name: remodal-overlay-opening-keyframes;

.remodal-overlay.remodal-is-closing
  animation-name: remodal-overlay-closing-keyframes;

/* Default theme styles of the wrapper */
.remodal-wrapper
  padding: 10px 10px 0;

/* Default theme styles of the modal dialog */
.remodal
  -webkit-box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  background: #FDFFFC;
  box-sizing: border-box;
  color: #5F6D7A;
  margin-bottom: 10px;
  padding: 30px 20px 20px 20px;
  transform: translate3d(0, 0, 0);
  width: 100%;

.remodal.remodal-is-opening
.remodal.remodal-is-closing
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

.remodal.remodal-is-opening
  animation-name: remodal-opening-keyframes;

.remodal.remodal-is-closing
  animation-name: remodal-closing-keyframes;

/* Vertical align of the modal dialog */
.remodal
.remodal-wrapper:after
  vertical-align: middle;

/* Dialog buttons */
.remodal-confirm
.remodal-cancel
  -webkit-transition: background 0.2s;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  min-width: 110px;
  outline: 0;
  overflow: visible;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s;
  vertical-align: middle;

.remodal-confirm
  background: #81c784;
  color: #fff;

  &:hover
  &:focus
    background: #66bb6a;

.remodal-cancel
  background: #e57373;
  color: #fff;

  &:hover
  &:focus
    background: #ef5350;

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner
.remodal-cancel::-moz-focus-inner
.remodal-close::-moz-focus-inner
  border: 0;
  padding: 0;

.file-upload-box
  width: 100%;

.upload-zone
  width: 100%;
  height: 363px;
  margin: 20px 0 15px 0;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #E4E5E5;
  cursor: pointer;
  &:hover .upload-icon
    background-size: 100%;
  &:hover .upload-text
    color: #5F6D7A;

.upload-input
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10001;

.upload-icon
  width: 59px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center;

.upload-text
  padding-top: 10px;
  width: 142px;
  color: #8C95A0;

.cancel-file-upload-button-container
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;

.cancel-file-upload-button
  cursor: pointer;
  display: inline;

.upload-processing-text
  position: absolute;
  font-style: italic;
  width: 100%;
  top: 50px;
  left: 0;

.upload-error-circle
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: #E2665A;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;


.container-fluid
  padding: 0px;

@media (max-width: 797px)
    body
        padding-left: 0px;
        padding-right: 0px;

.row
  margin-right: -15px;
  margin-left: -15px;


.source-tabs
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 40px;
  border-bottom: 1px solid #E4E5E5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & .tab
    height: 100%;
    min-width: 50%;
    padding: 4px 10px 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #8C95A0;
    &.is-active
      border-bottom: 4px solid #3DBEB3;
      color: #3DBEB3;
    &:not(.is-active):hover
      color: #5F6D7A;
