
.nav-actions
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  position relative
  margin-left auto

.nav-action
  margin-right 20px
  letter-spacing 0.01em

.nav-action:last-child
  margin-right 0
