REMODAL_COLOR = #5F6D7A;
REMODAL_BG = #FDFFFC;

.react-remodal
  &__dialog
    border-radius: 4px;
    color: REMODAL_COLOR;
    background: REMODAL_BG;

    &.upload-modal-wrapper
      max-width: 420px;

.upload-modal-wrapper
  max-width 420px
  padding 15px 10px

.modal-bottom-element
  margin-bottom: 0;

.modal-button
  font-size: 1.2em;
  font-weight: 300;
  width: 100%;

.modal-checkbox
  position: relative;
  top: 1px;

.modal-checkbox-label
  float: left;
  font-size: 16px;
